<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <i class="fas fa-bars hamburger text-white"></i>
    </div>
  </div>
  <div class="row">
    <nav class="col-6 navbar bg-acumin-gray-color side-menu d-none">

      <ul class="navbar-nav text-white">
        <i class="fas fa-times hamburger text-white"></i>
        <li class="nav-item">
          <a href="" class="nav-link text-uppercase">
            homepage
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link text-uppercase">
            articles
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link text-uppercase">
            log in
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link text-uppercase">
            register
          </a>
        </li>

        <hr class="text-white border border-white w-100">

        <li class="nav-item">
          <a href="" class="nav-link text-uppercase">
            <img class="rounded-circle img-fluid user-avatar" src="https://secure.gravatar.com/avatar/9c275cba24f7c939201cda28f832f8e0?s=80" alt="User">
          </a>
        </li>

        <li class="nav-item">
          <a href="" class="nav-link">
            Log out
          </a>
        </li>
      </ul>
    </nav>
    <div id="overlay"></div>
  </div>
</div>

<section class="jumbotron text-center text-white">
  <h1 class="display-1 font-weight-bold">The Male Alpha</h1>
  <p class="subtitle font-weight-bold">Grooming, Gadgets, Accessorires and more!</p>
</section>

<section class="container how-it-works pb-5 pt-5">
  <div class="row">
    <div class="col-12 mb-3">
      <h2 class="display-5 font-weight-bold text-center">How it works</h2>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-6 col-md-12">
          <img class="img-fluid" src="https://www.turing.com/img/we_find_greatness.png" alt="">
        </div>
        <div class="col-6 col-md-12">
          <p class="services font-weight-bold mt-3 mb-3">We find greatness</p>
          <p class="service-description">
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-6 col-md-12">
          <img class="img-fluid" src="https://www.turing.com/img/we_find_greatness.png" alt="">
        </div>
        <div class="col-6 col-md-12">
          <p class="services font-weight-bold mt-3 mb-3">We find greatness</p>
          <p class="service-description">
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-6 col-md-12">
          <img class="img-fluid" src="https://www.turing.com/img/we_find_greatness.png" alt="">
        </div>
        <div class="col-6 col-md-12">
          <p class="services font-weight-bold mt-3 mb-3">We find greatness</p>
          <p class="service-description">
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <a href="#" class="p-2 bg-color-main text-white m-auto">
      View all
    </a>
  </div>
</section>

<section class="container pb-5 pt-5">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <img class="img-fluid rounded mx-auto" width="200" src="https://images.unsplash.com/photo-1573164574308-edcb95e8b261?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80" alt="">
    </div>
    <div class="col-12 col-md-6">
      <p class="service-description">
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</section>
